p {
  line-height: 1.4em;
}

header {
  background-image: url(../Images/45degreee_fabric_@2x.png);
  border-bottom: 3px solid #d2d2d2d2;
  text-align:center;
}

body {
  background-color: #edddd4;
  font=font-family: arial, sans-serif;
  color: #465f3a;
}

.wrapper {
  background: #ffffff;
  widthe: 92%;
  width: 92%;
  max-width: 800px;
  margin:0 auto;
  padding: 12px 20px
}

h1 {
  margin-bottom: .5em;
  text-shadow: 1em;
}

footer.wrapper {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid #d2d2d2d2;
}
